body{
  background-color: #222;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 30px;  
}

.App{
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1{
  font-weight: 200;

}

.row{
display: flex;
}